/* #region NOTIFICATIONS */

.Notifications {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 3px dotted red;
}

.Notifications p {
  font-family: 'Galano Grotesque Alt', sans-serif;
  font-weight: 400;
  padding: 1.5rem 0 .3rem .8rem;
  margin: 0;
  font-size: .8rem;
}

.Notifications-content ul {
  padding-left: 2.3rem;
}

li[data-notification-type="default"] {
  font-family: 'Galano Grotesque Alt', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: #1d1d7f;
}

li[data-notification-type="urgent"] {
  font-family: 'Galano Grotesque Alt', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: red;
}

ul > li:nth-child(3) {
  font-family: 'Galano Grotesque Alt', sans-serif;
  font-weight: 400;
  font-size: .9rem;
  color: red;
}

/* #endregion */
